@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.image {
  width: 8vh;
  padding-right: 1%;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

h2 {
  font-size: 300%;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 770px) {
  h2 {
    font-size: 200%;
  }

  .image {
    padding-right: 5%;
  }
  .container {
    margin: 0 10%;
  }

  .chart {
    display: none;
  }

}
